:root {
	color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

body {
  height: 100vh;
	height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
}

#app {
	height: 100%;
}
